// Colors

$d-blue: #12355B;
// $blue: #4D7EA8; old version
$blue: rgb(8, 76, 135);
$light: #f5f6ff;
$green: #417B5a;
$dark: #3F0227;

// Fonts

$font-logo: 'Walter Turncoat', cursive;
$font-serif: 'Merriweather', serif;
$font-sans: 'Oswald', sans-serif;
