html, body {
  margin: 0;
  color: #3F0227; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

p, a, nav, q, li {
  font-family: "Merriweather", serif;
  color: #3F0227; }

header {
  width: 100vw;
  height: fit-content;
  position: relative; }
  header #header-fixed {
    background-image: radial-gradient(at bottom center, #f5f6ff 55%, #084c87 360%);
    box-shadow: 0 -5px 20px #3F0227;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around; }
    @media (min-width: 1020px) {
      header #header-fixed {
        height: 90px;
        box-shadow: none; } }
  header #heading_logo {
    color: #417B5a;
    font-size: 2.2rem;
    margin: 0;
    align-self: center; }
    @media (min-width: 1020px) {
      header #heading_logo {
        font-size: 2.9rem; } }
  header nav {
    align-self: center; }
  header #nav_bars-burger {
    width: 50px;
    height: 36px;
    position: relative;
    cursor: pointer; }
    @media (min-width: 1020px) {
      header #nav_bars-burger {
        display: none; } }
  header #burger-top,
  header #burger-middle,
  header #burger-bottom {
    position: absolute;
    width: 42px;
    height: 4px;
    background-color: #3F0227;
    border-radius: 4px;
    left: 4px; }
  header #burger-top,
  header #burger-bottom {
    transition: all .3s ease; }
  header #burger-middle {
    top: 15px;
    transition: opacity .3s ease; }
  header .burger-middle {
    opacity: 1; }
  header .burger-middle-x {
    opacity: 0; }
  header .burger-top-x,
  header .burger-bottom-x {
    top: 15px; }
  header .burger-top {
    top: 4px; }
  header .burger-top-x {
    transform: rotate(45deg); }
  header .burger-bottom {
    top: 26px; }
  header .burger-bottom-x {
    transform: rotate(-45deg); }
  header #nav_content {
    position: fixed;
    width: 100vw;
    height: 280px;
    left: 0;
    right: 0;
    background-image: radial-gradient(at top center, #f5f6ff 55%, #084c87 360%);
    border-bottom: solid 3px #f5f6ff;
    box-shadow: 0 3px 0 #084c87;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    transition: top .34s ease-out; }
    @media (min-width: 1020px) {
      header #nav_content {
        position: fixed;
        background-image: none;
        background-color: transparent;
        top: 0;
        border: none;
        box-shadow: none;
        flex-direction: row;
        height: fit-content;
        z-index: 100;
        width: 480px;
        margin: 20px 100px 0 auto; } }
    @media (min-width: 1320px) {
      header #nav_content {
        margin-right: 300px; } }
  header #nav_content::after,
  header #nav_content::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -21px;
    border-top: 0 solid #3F0227;
    border-bottom: 15px solid transparent; }
    @media (min-width: 1020px) {
      header #nav_content::after,
      header #nav_content::before {
        display: none; } }
  header #nav_content::after {
    border-right: 50vw solid #084c87;
    left: 0; }
  header #nav_content::before {
    border-left: 50vw solid #084c87;
    right: 0; }
  header .nav_content-hide {
    top: -228px; }
  header .nav_content-show {
    top: 70px; }
  header .nav_content-a {
    align-self: center;
    z-index: 10;
    width: 100%;
    display: flex; }
    header .nav_content-a a {
      align-self: center;
      color: #3F0227;
      height: 100%;
      width: 100%;
      text-decoration: none;
      text-align: center;
      font-weight: 700;
      display: block;
      padding: 17px;
      box-sizing: border-box; }
      header .nav_content-a a:hover {
        text-decoration: underline;
        color: #417B5a; }
  header #nav-hide {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 362px);
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none; }

footer {
  background-image: radial-gradient(at top, #f5f6ff -180%, #084c87 50%, #3F0227 160%);
  color: #f5f6ff;
  padding: 2px 6px 40px; }
  footer #footer_heading-main,
  footer #footer_heading-sec {
    text-align: center;
    margin-bottom: 0; }
  footer #footer_heading-main {
    font-size: 2.9rem;
    margin-top: 30px; }
  footer #footer_heading-sec {
    font-size: 1.15rem;
    margin-top: -8px; }
  footer .footer_contact {
    display: flex;
    margin: 6px auto;
    width: fit-content; }
  footer #phone {
    height: 22px;
    width: 14px;
    background-color: #f5f6ff;
    border-radius: 3px;
    position: relative; }
  footer #phone::after {
    content: '';
    height: 14px;
    width: 10px;
    background-color: #084c87;
    position: absolute;
    top: 2px;
    left: 2px; }
  footer #phone::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #084c87;
    border-radius: 50%;
    bottom: 1px;
    left: 5.5px; }
  footer #mail {
    position: relative;
    width: 24px;
    height: 18px;
    border: 2px solid #f5f6ff;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center; }
  footer #mail::after,
  footer #mail::before,
  footer #mail_left,
  footer #mail_right {
    position: absolute;
    background-color: #f5f6ff; }
  footer #mail::after,
  footer #mail::before {
    content: '';
    width: 14px;
    height: 2px; }
  footer #mail::after {
    transform: rotate(40deg) skew(20deg);
    top: 3.5px;
    left: -2px; }
  footer #mail::before {
    transform: rotate(-40deg) skew(-20deg);
    top: 3.5px;
    right: -2px; }
  footer #mail_left {
    width: 9px;
    height: 2px;
    transform: rotate(-40deg);
    bottom: 3px;
    left: -1.5px; }
  footer #mail_right {
    width: 9px;
    height: 2px;
    transform: rotate(40deg);
    bottom: 3px;
    right: -1.5px; }
  footer p {
    color: #f5f6ff;
    margin: 0 6px; }
  footer a {
    color: #f5f6ff;
    text-decoration: none; }

#banner {
  background-image: url(../imgs/display_main-sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  width: 100vw;
  height: 290px;
  position: fixed;
  top: 58px;
  z-index: -1; }
  @media (min-width: 850px) {
    #banner {
      background-image: url(../imgs/display_main-lg.jpg);
      background-position: 10% 10%;
      height: 400px; } }
  @media (min-width: 1020px) {
    #banner {
      top: 80px; } }

#main_wrapper {
  margin-top: 348px;
  border-top: 3px solid #3F0227;
  z-index: 10;
  background-color: #f5f6ff;
  padding-bottom: 40px; }
  @media (min-width: 850px) {
    #main_wrapper {
      margin-top: 455px; } }

#home_blocks {
  margin: 0 auto; }

.home_block-content {
  margin: 40px auto;
  padding: 12px 14px;
  width: 70vw;
  position: relative;
  border: 4px inset #f5f6ff;
  box-shadow: 0 0 18px #3F0227;
  background-image: linear-gradient(100deg, #f5f6ff 50%, #084c87 240%); }
  @media (min-width: 850px) {
    .home_block-content {
      margin: 80px auto;
      width: 300px;
      height: fit-content;
      align-self: center; } }
  @media (min-width: 1020px) {
    .home_block-content {
      height: 600px;
      width: 600px;
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
      border: none;
      box-shadow: none;
      display: flex; } }
  .home_block-content::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(160deg, transparent 50%, #084c87 240%); }
  .home_block-content h2 {
    font-size: 2rem;
    text-align: center;
    margin: 8px; }
    @media (min-width: 850px) {
      .home_block-content h2 {
        font-size: 2.35rem; } }
    @media (min-width: 1020px) {
      .home_block-content h2 {
        font-size: 2.7rem;
        align-self: center;
        padding: 0 100px; } }

#block-content-1 {
  transition: all 1s ease; }
  @media (min-width: 850px) {
    #block-content-1 {
      border: none;
      box-shadow: none;
      background-image: none;
      width: 700px; }
      #block-content-1 h2 {
        font-size: 3rem;
        text-shadow: -4px 4px 8px #084c87; } }
  @media (min-width: 1020px) {
    #block-content-1 {
      height: fit-content;
      width: 600px;
      margin: 70px auto 0; }
      #block-content-1 h2 {
        padding: 0; } }
  @media (min-width: 850px) {
    #block-content-1::after {
      background-image: none; } }

.hidden {
  opacity: 0;
  bottom: -150px; }

.showing {
  opacity: 1;
  bottom: 0; }

@media (min-width: 850px) {
  .blocks-imgs {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-around; } }

@media (min-width: 1020px) {
  .blocks-imgs {
    max-width: 1000px;
    margin: 80px auto 120px;
    border: inset #f5f6ff 4px;
    box-shadow: 0 0 20px 2px; } }

.home_img {
  width: 100vw;
  height: 90vh;
  border-top: solid 3px #3F0227;
  border-bottom: solid 3px #3F0227; }
  @media (min-width: 850px) {
    .home_img {
      width: 320px;
      height: 450px;
      margin: 0 auto;
      border: solid 3px #3F0227; } }
  @media (min-width: 1020px) {
    .home_img {
      width: 400px;
      height: 600px;
      border: none; } }

#home_img-1 {
  background-image: url(../imgs/home_project_1_md.jpg);
  background-size: cover;
  background-position: 40% 0; }

#home_img-2 {
  background-image: url(../imgs/home_img_2_md.jpg);
  background-size: cover;
  background-position: 40% 0; }
  @media (min-width: 850px) {
    #home_img-2 {
      order: 2; } }

#about_main {
  margin: 0 auto;
  padding: 70px 0 50px;
  background-color: #f5f6ff; }
  #about_main h1 {
    text-align: center;
    font-size: 2.6rem;
    padding: 0 16px;
    line-height: 1.2;
    display: flex;
    flex-direction: column; }
    @media (min-width: 850px) {
      #about_main h1 {
        font-size: 3.4rem;
        margin-top: 70px; } }
  #about_main img {
    width: 100vw;
    max-width: 860px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 2px 14px black; }
    @media (min-width: 850px) {
      #about_main img {
        border: inset 5px #f5f6ff;
        box-shadow: 0 0 20px 2px black; } }

#about_quote {
  padding: 25px;
  text-align: justify;
  margin: 20px auto 0;
  max-width: 640px; }
  @media (min-width: 850px) {
    #about_quote {
      margin: 40px auto; } }
  #about_quote::after {
    content: ''; }
  #about_quote q, #about_quote p {
    color: #3F0227; }
  #about_quote q {
    font-family: "Parisienne", cursive;
    font-size: 1.5rem;
    font-weight: 700; }

#about_story {
  padding: 0 16px;
  max-width: 700px;
  margin: 0 auto; }
  #about_story h2 {
    font-size: 2.4rem; }
    @media (min-width: 850px) {
      #about_story h2 {
        font-size: 2.8rem; } }
  #about_story p {
    line-height: 1.5; }

#gallery_main {
  margin: 70px auto 0;
  background-color: #f5f6ff;
  width: 98.5vw;
  overflow-x: hidden; }
  #gallery_main h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 20px; }
  @media (min-width: 850px) {
    #gallery_main h1 {
      font-size: 4rem; } }

#gallery_slideshow {
  border-top: 4px solid #3F0227;
  border-bottom: 4px solid #3F0227; }
  #gallery_slideshow img {
    width: 100vw;
    margin: 0px auto;
    display: block; }
  @media (min-width: 850px) {
    #gallery_slideshow {
      display: flex;
      overflow-x: visible;
      margin: 40px 0 0;
      border: none;
      position: relative;
      transition: .5s left ease; }
      #gallery_slideshow img {
        height: 540px;
        margin: 0 40px; }
      #gallery_slideshow .landscape {
        width: 718px; }
      #gallery_slideshow .portrait {
        width: 405px; } }

#arrow_container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: -12px auto 0;
  padding: 0 0 70px;
  font-size: 5rem; }
  #arrow_container .inactive {
    color: #f5f6ff; }

#left_arrow,
#right_arrow {
  cursor: pointer; }
  #left_arrow:hover,
  #right_arrow:hover {
    transform: scale(1.1); }
