#about_main {
    margin: 0 auto;
    padding: 70px 0;
    background-color: $light;

    h1 {
        text-align: center;
        font-size: 2.6rem;
        padding: 0 16px;
        // line-height: 1.2;
        display: flex;
        flex-direction: column;
        // margin: 50px auto;
    }

    img {
        width: 100vw;
        box-shadow: 0 2px 14px black;
    }
}

#about_quote {
    background-image: linear-gradient(to top left, $light -200%, $dark 50%);
    border-top: $light inset 4px;
    border-bottom: $light inset 4px;
    box-shadow: 0 0 15px black;
    padding: 25px;
    text-align: justify;
    margin: 40px auto 0;

    &::after {
        content: '';

    }

    q, p {
        color: $light;
    }

    q {
        font-family: $font-fancy;
        font-size: 1.5rem;
    }
}

#about_story {
    padding: 0 16px;

    h2 {
        font-size: 2.4rem;
    }
}
