#gallery_main {
    margin: 70px auto 0;
    background-color: $light;
    overflow-x: hidden;
    color: $dark;
    z-index: 10;

    h1 {
        text-align: center;
        font-size: 3rem;
        padding-top: 20px;
    }

    @media (min-width: $mq-md) {
        width: 98vw;

        h1 {
            font-size: 4rem;
            margin-top: 0;
        }
    }
}

#gallery_slideshow {
    border-top: 4px solid $dark;
    border-bottom: 4px solid $dark;

    img {
        width: 100vw;
        margin: 0px auto;
        display: block;
    }

    @media (min-width: $mq-md) {
        display: flex;
        overflow-x: visible;
        margin: 40px 0 0;
        border: none;
        position: relative;
        transition: .5s left ease;
        width: 8600px;

        img {
            height: 540px;
            margin: 0 40px;
        }

        .landscape {
            width: 718px;
        }

        .portrait {
            width: 405px;
        }
    }
}

#arrow_container {
    display: none;

    @media (min-width: $mq-md) {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        margin: -12px auto 0;
        padding: 0 0 70px;
        font-size: 5rem;
    
        .inactive {
            color: lightgrey;
            cursor: default;
            
            &:hover {
                transform: none;
            }
        }
    }
}

#left_arrow,
#right_arrow {
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}