header {
    width: 100vw;
    height: fit-content;
    position: relative;

    #header-fixed {
        background-image: radial-gradient(at bottom center, $light 55%, $blue 360%);
        box-shadow: 0 -5px 20px $dark;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        top: 0;

        @media (min-width: $mq-lg) {
            height: 90px;
            box-shadow: none;
        }
    }

    #heading_logo {
        // font-family: $font-logo;
        color: $green;
        font-size: 2.2rem;
        margin: 0;
        align-self: center;
        @media (min-width: $mq-lg) {
            font-size: 2.9rem;
        }
    }

    nav {
        align-self: center;
    }

    #nav_bars-burger {
        width: 50px;
        height: 36px;
        position: relative;
        cursor: pointer;
        @media (min-width: $mq-lg) {
            display: none;
        }
    }
    
    #burger-top,
    #burger-middle,
    #burger-bottom {
        position: absolute;
        width: 42px;
        height: 4px;
        background-color: $dark;
        border-radius: 4px;
        left: 4px;
    }
    
    #burger-top,
    #burger-bottom {
        transition: all .3s ease;
    }
    
    #burger-middle {
        top: 15px;
        transition: opacity .3s ease;
    }

    .burger-middle {
        opacity: 1;
    }

    .burger-middle-x {
        opacity: 0;
    }

    .burger-top-x,
    .burger-bottom-x {
        top: 15px;
    }
    
    .burger-top {
        top: 4px;
    }

    .burger-top-x {
        transform: rotate(45deg);
    }
    
    .burger-bottom {
        top: 26px;
    }

    .burger-bottom-x {
        transform: rotate(-45deg);
    }

    #nav_content {
        position: fixed;
        width: 100vw;
        height: 280px;
        left: 0;
        right: 0;
        background-image: radial-gradient(at top center, $light 55%, $blue 360%);
        border-bottom: solid 3px $light;
        box-shadow: 0 3px 0 $blue;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 10;
        transition: top .34s ease-out;

        @media (min-width: $mq-lg) {
            position: fixed;
            background-image: none;
            background-color: transparent;
            top: 20px;
            border: none;
            box-shadow: none;
            flex-direction: row;
            height: auto;
            z-index: 100;
            width: 480px;
            margin: 0 100px 0 auto;
        }
        @media (min-width: 1320px) {
            margin-right: 300px;
        }

    }

    #nav_content::after,
    #nav_content::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -21px;
        border-top: 0 solid $dark;
        border-bottom: 15px solid transparent;
        @media (min-width: $mq-lg) {
            display: none;
        }
    }

    #nav_content::after {
        border-right: 50vw solid $blue;
        left: 0;
    }

    #nav_content::before {
        border-left: 50vw solid $blue;
        right: 0;
    }

    .nav_content-hide {
        top: -228px;
    }

    .nav_content-show {
        top: 70px;
    }

    .nav_content-a {
        align-self: center;
        z-index: 10;
        width: 100%;
        display: flex;
        
        a {
            align-self: center;
            color: $dark;
            height: 100%;
            width: 100%;
            text-decoration: none;
            text-align: center;
            font-weight: 700;
            display: block;
            padding: 17px;
            box-sizing: border-box;

            &:hover {
                text-decoration: line-through;
                color: $green;
            }
        }
    }

    #nav-hide {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 362px);
        bottom: 0;
        right: 0;
        z-index: 10;
        display: none;
    }
}
