#banner {
    background-image: url(../../imgs/display_main-sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 0%;
    width: 100vw;
    height: 290px;
    position: fixed;
    top: 58px;
    z-index: -1;

    @media (min-width: $mq-md) {
        background-image: url(../../imgs/display_main-lg.jpg);
        background-position: 10% 10%;
        height: 400px;
    }
    
    @media (min-width: $mq-lg) {
        top: 80px;
    }
}

#main_wrapper {
    margin-top: 348px;
    border-top: 3px solid $dark;
    z-index: 10;
    background-color: $light;
    padding-bottom: 40px;

    @media (min-width: $mq-md) {
        margin-top: 455px;
    }
}

#home_blocks {
    margin: 0 auto;
}

.home_block-content {
    margin: 40px auto;
    padding: 12px 14px;
    width: 70vw;
    position: relative;
    border: 4px inset $light;
    box-shadow: 0 0 18px $dark;
    background-image: linear-gradient(100deg, $light 50%, $blue 240%);

    @media (min-width: $mq-md) {
        margin: 80px auto;
        width: 300px;
        height: fit-content;
        align-self: center;
    }

    @media (min-width: $mq-lg) {
        height: 600px;
        width: 600px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        display: flex;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(160deg, transparent 50%, $blue 240%);
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 8px;

        @media (min-width: $mq-md) {
            font-size: 2.35rem;
        }
        @media (min-width: $mq-lg) {
            font-size: 2.7rem;
            align-self: center;
            padding: 0 100px;
        }
    }
}

#block-content-1 {
    transition: all 1s ease;

    @media (min-width: $mq-md) {
        border: none;
        box-shadow: none;
        background-image: none;
        width: 700px;

        h2 {
            font-size: 3rem;
            text-shadow: -4px 4px 8px $blue;
        }
    }

    @media (min-width: $mq-lg) {
        height: 140px;
        height: fit-content;
        // width: 600px;
        margin: 70px auto 0;

        h2 {
            padding: 0;
        }
    }

    &::after {
        @media (min-width: $mq-md) {
            background-image: none;
        }   
    }
}

.hidden {
    opacity: 0;
    bottom: -150px;
}

.showing {
    opacity: 1;
    bottom: 0;
}

.blocks-imgs {
    @media (min-width: $mq-md) {
        display: flex;
        margin-bottom: 80px;
        justify-content: space-around;
    }

    @media (min-width: $mq-lg) {
        max-width: 1000px;
        margin: 80px auto 120px;
        border: inset $light 4px;
        box-shadow: 0 0 20px 2px;
    }
}

.home_img {
    width: 100vw;
    height: 90vh;
    border-top: solid 3px $dark;
    border-bottom: solid 3px $dark;

    @media (min-width: $mq-md) {
        width: 320px;
        height: 450px;
        margin: 0 auto;
        border: solid 3px $dark;
    }

    @media (min-width: $mq-lg) {
        width: 400px;
        height: 600px;
        border: none;
    }
}

#home_img-1 {
    background-image: url(../../imgs/home_project_1_md.jpg);
    background-size: cover;
    background-position: 40% 0;
}

#home_img-2 {
    background-image: url(../../imgs/home_img_2_md.jpg);
    background-size: cover;
    background-position: 40% 0;

    @media (min-width: $mq-md) {
        order: 2;
    }
}

