
@mixin wrapper {
  @content;
  width: calc(100vw - 200px);
  margin-left: auto;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin heading_borders {
  @content;
  padding: 3px 8px;
  border-bottom: 8px solid;
  border-right: 2px solid;
  border-left: 8px solid transparent;
}

@mixin cta {
  width: 92vw;
  margin: 0 auto 60px;
  border: solid 4px $blue;
  box-shadow: 0 0 0 6px lightgray;
  padding: 12px 16px;
  text-align: center;
  box-sizing: border-box;
  background-image: linear-gradient(to top right, white -20%, $l-blue 40%, $l-blue 70%, $blue 240%);
}