// +_+_+_+_+_+_+_+_+_+_+_+_+_+_+
// COLORS +_+_+_+_+_+_+_+_+_+_+_

$blue: #175676;
$l-blue: rgb(243, 243, 243);
$d-green: #104F55;
$l-green: #32746D;
$light: rgb(246, 255, 243);
$dark: #503D3F;

// +_+_+_+_+_+_+_+_+_+_+_+_+_+_+
// FONTS +_+_+_+_+_+_+_+_+_+_+_+

$font-heading: 'Fira Sans';
$font-reg: 'Noto Serif';
$font-fancy: 'Bilbo Swash Caps', cursive;

// +_+_+_+_+_+_+_+_+_+_+_+_+_+_+
// MEDIA QUERIES +_+_+_+_+_+_+_+

$mx-xs: 375px;
$mq-sm: 540px;
$mq-md: 720px;
$mq-lg: 980px;
$mq-xl: 1120px;
