body {
  background-image: linear-gradient(to bottom, #0000d3, white 125%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Monda', cursive; }
  body p, body li, body a {
    font-family: 'Monda', sans-serif; }

html, body {
  overflow-x: hidden; }

header {
  background-image: linear-gradient(178deg, white -10%, #c9c9c9);
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  z-index: 100;
  height: 85px; }
  header h1 {
    font-family: 'Orbitron', cursive;
    margin-top: 24px; }
    @media (max-width: 980px) {
      header h1 {
        font-size: 1.7em; } }
  header #header_wrap {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%; }
    @media (max-width: 1175px) {
      header #header_wrap {
        max-width: 800px; } }
    @media (max-width: 980px) {
      header #header_wrap {
        max-width: 90%; } }
    @media (max-width: 640px) {
      header #header_wrap {
        max-width: 85%; } }
  header nav {
    display: flex; }
    @media (max-width: 640px) {
      header nav {
        display: none; } }
    header nav .nav_item {
      width: 100px;
      text-align: center;
      font-weight: bold;
      margin: 0;
      padding-top: 29px;
      text-decoration: none;
      background-image: linear-gradient(to top left, transparent, transparent 50%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8));
      background-position: 100% 100%;
      background-size: 200% 200%;
      transition: all .32s ease;
      color: black; }
      header nav .nav_item:hover {
        color: white;
        background-position: 0% 0%; }
      header nav .nav_item:visited {
        color: black; }
        header nav .nav_item:visited:hover {
          color: white;
          background-color: black; }
      header nav .nav_item:first-child {
        border-right: none; }
      @media (max-width: 820px) {
        header nav .nav_item {
          font-size: .88em;
          width: 83px; } }
  header #menu_bars {
    display: none; }
    @media (max-width: 640px) {
      header #menu_bars {
        display: block;
        font-size: 2em;
        align-self: center; } }
  header .nav_show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 85px;
    width: 100%;
    background-color: #d5d5d5;
    right: 0;
    border-bottom: solid 1px black;
    border-radius: 0 0 22px 22px; }
    header .nav_show a, header .nav_show #fav_drop_cont {
      border: none;
      padding-top: 10px;
      width: 100%;
      text-align: center; }
      header .nav_show a:hover, header .nav_show #fav_drop_cont:hover {
        background-position: 100% 100%;
        color: black; }
      header .nav_show a:last-child, header .nav_show #fav_drop_cont:last-child {
        margin-bottom: 10px; }
  header #fav_drop_cont {
    position: relative;
    display: block;
    width: 100px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-top: 29px;
    text-decoration: none;
    background-image: linear-gradient(to top left, transparent, transparent 50%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8));
    background-size: 200% 200%;
    background-position: 100% 100%;
    transition: .32s all ease; }
    header #fav_drop_cont a {
      margin: 0;
      text-decoration: none;
      color: black;
      width: 100%;
      display: block;
      padding-top: 0;
      transition: .25s all ease; }
    header #fav_drop_cont:hover {
      background-position: 0 0; }
    header #fav_drop_cont:hover a {
      color: white; }
      @media (max-width: 640px) {
        header #fav_drop_cont:hover a {
          color: black; } }
    header #fav_drop_cont:hover #nav_drop_cont {
      display: block;
      color: black; }
    @media (max-width: 820px) {
      header #fav_drop_cont {
        width: 83px; } }
    header #fav_drop_cont #nav_drop_cont {
      display: none; }
      header #fav_drop_cont #nav_drop_cont .nav_drop {
        position: absolute;
        width: 390px;
        background-color: #d5d5d5;
        left: -1px;
        top: 85px;
        padding: 6px 28px 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        border-radius: 0 0 18px 18px;
        border-left: 3px solid black;
        border-bottom: 2px solid black; }
        @media (max-width: 980px) {
          header #fav_drop_cont #nav_drop_cont .nav_drop {
            width: 316px; } }
        @media (max-width: 820px) {
          header #fav_drop_cont #nav_drop_cont .nav_drop {
            width: 280px; } }
        @media (max-width: 640px) {
          header #fav_drop_cont #nav_drop_cont .nav_drop {
            width: 100vw;
            left: 0;
            top: 110px;
            padding: 30px 26px 16px;
            border-left: none;
            z-index: -1;
            box-sizing: border-box; } }
        header #fav_drop_cont #nav_drop_cont .nav_drop p {
          padding: 4px 10px;
          border: solid 1px black;
          margin: 5px;
          display: inline-block; }
          @media (max-width: 980px) {
            header #fav_drop_cont #nav_drop_cont .nav_drop p {
              padding: 2px 7px;
              margin: 3px;
              font-size: .8em; } }
          header #fav_drop_cont #nav_drop_cont .nav_drop p:hover {
            border: 1px solid white;
            color: white;
            font-weight: bold;
            cursor: pointer; }

#top_movies {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin: 125px auto 0; }
  #top_movies .top_movies_heading {
    text-shadow: white 2px -2px 5px;
    font-size: 1.9em;
    line-height: .7em; }
    @media (max-width: 980px) {
      #top_movies .top_movies_heading {
        max-width: 80%;
        margin: 30px auto; } }
  #top_movies #top_movies_inner {
    display: flex;
    justify-content: center;
    margin: 0 auto 0; }
    @media (max-width: 1175px) {
      #top_movies #top_movies_inner {
        flex-direction: column;
        max-width: 90%;
        margin: 0 13%; } }
    @media (max-width: 820px) {
      #top_movies #top_movies_inner {
        margin: 0 auto; } }
    #top_movies #top_movies_inner #top_movie_1 {
      padding-right: 20px;
      max-width: 100%;
      max-height: 100%; }
      @media (max-width: 1175px) {
        #top_movies #top_movies_inner #top_movie_1 {
          padding: 0;
          width: auto;
          height: auto; } }
    #top_movies #top_movies_inner #top_movies_addtl {
      width: 200px; }
      @media (max-width: 1175px) {
        #top_movies #top_movies_inner #top_movies_addtl {
          display: flex;
          justify-content: space-between;
          width: auto;
          height: auto; }
          #top_movies #top_movies_inner #top_movies_addtl .top_movie_side {
            width: 25%; } }
      @media (max-width: 900px) {
        #top_movies #top_movies_inner #top_movies_addtl {
          display: none; } }

.movie_line {
  margin: 125px auto 0;
  height: 320px;
  max-width: 97%; }
  .movie_line:hover .movie_line_tag {
    text-shadow: white 2px -2px 5px; }
  @media (max-width: 820px) {
    .movie_line {
      height: 500px; } }
  @media (max-width: 640px) {
    .movie_line {
      height: 1440px; } }
  .movie_line .movie_line_topper {
    display: flex;
    justify-content: space-between; }
    .movie_line .movie_line_topper i {
      font-size: 2em;
      color: white;
      transition: .05s all ease-in;
      cursor: pointer; }
      .movie_line .movie_line_topper i:hover {
        transform: scale(1.2);
        color: #c8ffd4; }
  .movie_line .scroll_bar {
    height: 4px;
    width: 100%;
    background-color: white;
    margin-bottom: 14px;
    background-image: linear-gradient(to left, transparent, transparent 50%, #0e0078 50%, #0e0078);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: all 0.8s ease-in-out; }
  .movie_line .movie_line_tag {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin: 0 0 20px 40px;
    font-size: 1.7em;
    line-height: .9em; }
  .movie_line .movie_line_imgs {
    display: flex; }
    @media (max-width: 820px) {
      .movie_line .movie_line_imgs {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px; } }
    .movie_line .movie_line_imgs .movie_line_trans_cont {
      width: 25%;
      perspective: 900px;
      z-index: 1; }
      @media (max-width: 820px) {
        .movie_line .movie_line_imgs .movie_line_trans_cont {
          width: 300px;
          margin-bottom: 60px; } }
      .movie_line .movie_line_imgs .movie_line_trans_cont:hover {
        z-index: 10; }
      .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont {
        transition: transform .2s ease-in;
        transform-origin: bottom left;
        position: relative;
        z-index: 0;
        margin: 0px;
        cursor: pointer;
        display: block; }
        .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont img {
          width: 100%;
          z-index: 0; }
        .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont .movie_line_description {
          max-width: 97%;
          text-align: center;
          margin-top: 5px;
          display: none;
          font-size: .9em; }
        .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont .movie_line_title {
          text-align: center;
          margin: 4px auto;
          font-size: 1.15em; }
        .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont:hover {
          background-color: #0e0078;
          border: 2px solid black;
          z-index: 100;
          transform: translateZ(75px); }
          @media (max-width: 820px) {
            .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont:hover {
              transform: translateZ(45px); } }
          .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont:hover .movie_line_description {
            display: block;
            color: white;
            line-height: 1.15em; }
          .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont:hover .movie_line_title {
            color: white; }
        @media (max-width: 640px) {
          .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont {
            background-color: #0e0078;
            border: 2px solid black;
            z-index: 100;
            transform: translateZ(75px); }
            .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont .movie_line_description {
              display: block;
              color: white;
              line-height: 1.15em; }
            .movie_line .movie_line_imgs .movie_line_trans_cont .movie_line_img_cont .movie_line_title {
              color: white; } }
  .movie_line .carousel {
    position: relative;
    transform-style: preserve-3d;
    height: 100%;
    transition: all 0.8s ease-in-out; }
    .movie_line .carousel .carousel_face {
      position: absolute;
      width: 96vw;
      backface-visibility: hidden; }
    .movie_line .carousel .carousel_face:nth-child(1) {
      transform: rotateY(0deg) translateZ(calc((100vw / 2) * 1.73205)); }
    .movie_line .carousel .carousel_face:nth-child(2) {
      transform: rotateY(60deg) translateZ(calc((100vw / 2) * 1.73205)); }
    .movie_line .carousel .carousel_face:nth-child(3) {
      transform: rotateY(120deg) translateZ(calc((100vw / 2) * 1.73205)); }
    .movie_line .carousel .carousel_face:nth-child(4) {
      transform: rotateY(180deg) translateZ(calc((100vw / 2) * 1.73205)); }
    .movie_line .carousel .carousel_face:nth-child(5) {
      transform: rotateY(240deg) translateZ(calc((100vw / 2) * 1.73205)); }
    .movie_line .carousel .carousel_face:nth-child(6) {
      transform: rotateY(300deg) translateZ(calc((100vw / 2) * 1.73205)); }

footer {
  position: relative;
  bottom: 0;
  background-image: linear-gradient(182deg, white -10%, #b9b9b9);
  max-width: 100vw;
  margin-top: 110px;
  padding: 20px;
  border-top: 2px solid black;
  z-index: 100; }
  @media (max-width: 820px) {
    footer {
      margin-top: 200px; } }
  footer #footer_wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
  footer #footer_column_2 {
    align-self: center; }
    footer #footer_column_2 h3, footer #footer_column_2 p {
      margin: 5px; }
