.banner {
    background-image: url('../../../images/mtn-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 60%;
    min-height: 100vh;

    @media (max-width: $break-sm) {
        background-position: 50% 100%;
    }
}

#banner-inner {
    width: 400px;
    margin: 14% 0 0;
    position: relative;
    left: -500px;
    color: $color-grey-xl;
    background-color: rgba($color: darken($color-blue, 20%), $alpha: .28);
    box-shadow: 0 0 20px 20px rgba($color: darken($color-blue, 20%), $alpha: .28);
    transition: 1.1s left ease-out;

    @media (max-height: 500px) {
        margin-top: 30px;
    }
    // @media (max-width: $break-md) {
    //     width: 400px;
    //     margin: 30% 0 0;
    //     left: -400px;
    // }
    @media (max-width: $break-xs) {
        margin: 13% 0 0;
        width: 300px;
    }
    @media (max-width: $break-xxs) {
        max-width: 275px;
    }
    @media (min-width: $break-xl) {
        width: 504px;
    }
}

.banner-first,
.banner-h1,
.banner-last {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 400;
    text-shadow: 2px 2px darken($color-dark, 12%);
    
    @media (max-width: $break-xs) {
        font-size: 1.3rem;
    }
    @media (max-width: $break-xxs) {
        font-size: 1.15rem;
    }
    @media (min-width: $break-sm) {
        font-size: 1.5rem;
    }
    @media (min-width: $break-xl) {
        font-size: 1.85rem;
    }
}

.banner-h1 {
    font-size: 4rem;
    text-shadow: 4px 4px 2px darken($color-dark, 12%);
    text-decoration: underline overline;

    @media (max-width: $break-xs) {
        font-size: 3rem;
    }
    @media (max-width: $break-xxs) {
        font-size: 2.7rem;
    }
    @media (min-width: $break-xl) {
        font-size: 5rem;
    }
}

.banner-last {
    text-align: right;
}
