footer {
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    // z-index: -2;
    background: $color-grey-xl;
    border-top: $color-earth-grey solid 2px;
    color: $color-dark-xd;
    box-shadow: inset 0 8px 18px $color-dark;
    margin-top: 120px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3,
    h1 {
        @include wrapper;
        margin-bottom: 0;
    }
    h3 {
        @media (max-width: $break-xs) {
            font-size: 1.4rem;
        }
    }
    h1 {
        @media (max-width: $break-xs) {
            font-size: 2rem;
        }
    }
    a {
        color: $color-blue;
        &:hover {
            color: $color-green;
        }
    }
}