#front-page-main {
    background: url('../../images/front-page-mtns.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: $front-font;
}

// Adding top space before Name/Title in bigger screens
@media (min-width : $break-md ) {
    #front-header {
        padding-top: 75px;
    }
}

#front-page-title {
    padding-top: 6px;
    background-color: rgba($color: $color-front-sec, $alpha: 0.76);
    border-bottom: rgb(0, 6, 92) solid 3px;
    border-top: #00065c solid 3px;
    display: flex;
    @media ( min-width : $break-md ) {
        display: block;
    }
    h1 {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: rgb(44, 24, 107);
        padding: 3px 25px;
        @media ( max-width : $break-xxs) {
            font-size: 33px;
            display: inline-block;
        }
        @media ( min-width : $break-md ) {
            font-size: 64px;
        }
        @media (max-height:$break-lndscp) {
            font-size: 35px;
        }
    }
}

// =================================================
// Main Nav Section ===============================
// ===============================================

@media (max-width: $break-md), (max-height : 545px) {
    .roller-img {
        display: none;
    }
    #front-page-nav {
        margin: 48px auto;
        font-family: $front-font-2;
        @media (max-width: $break-xxs) {
            margin: 20px auto;
        }
        @media (max-height:$break-lndscp) {
            margin: 12px 0;
        }
    }
    .front-nav-item {
        background-color: rgba($color: $color-front-sec, $alpha: 0.86);
        width: 95%;
        margin: 40px auto;
        padding: 12px 8px;
        border-radius: 12px;
        color: darken($color-front-pri, 10%);
        @media (max-width: $break-xxs) {
            margin: 20px auto;
        }
        @media (max-height: $break-lndscp) {
            margin: 2px auto;
        }
        h3 {
            font-weight: bold;
            @media (max-height:$break-lndscp) {
                font-size: 1.4em;
            }
            @media (max-width: $break-xxs) {
                font-size: 1.45em;
            }
        }
        p {
            font-size: 1.2em;
            @media (max-height:$break-lndscp) {
                font-size: 1.06em;
                margin-bottom: 1px;
            }
            @media (max-width: $break-xxs) {
                font-size: 1.1em;
            }
        }
        button {
            background-color: $color-front-pri;
            &:hover {
                background-color: lighten($color-front-pri, 8%);
            }
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width: $break-md) and (min-height: 545px) {
    #front-page-nav {
        font-family: $front-font-2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        max-width: 900px;
        margin: 100px auto;
    }
    .front-nav-item {
        perspective: 1300px;
    }
    .tri-roller {
        transition: transform 1.8s cubic-bezier(.28,-0.17,.33,.6);
        transform-style: preserve-3d;
        &:hover {
            transform: rotateY(-240deg);
        }
    }
    .front-face,
    .left-face,
    .right-face,
    .roller-img {
        height: 280px;
        width: 300px;
        display: block;
        position: absolute;
        transform-origin: center center;
        backface-visibility: hidden;
    }
    .front-face {
        transform: translate3d( -150px, 0, 78px );
        background-color: $color-front-pri;
        color: white;
        text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3 {
            font-weight: bold;
            font-size: 2.34em;
            text-decoration: underline;
        }
    }
    .right-face {
        transform: translate3d( -75px, 0, -52px ) rotateY(120deg);
    }
    .left-face {
        transform: translate3d( -225px, 0, -52px ) rotateY(-120deg);
        background-color: $color-front-sec;
        color: $color-front-pri;
        text-align: center;
        p {
            font-size: 1.5em;
            padding: 30px 16px 16px;
        }
        button {
            background-color: $color-front-pri;
            margin: 0 auto;
            border-radius: 8px;
            &:hover {
                background-color: lighten($color-front-pri, 10%);
            }
            a {
            display: inline-block;
            font-size: 1.4em;
            color: white;
            &:hover {
                color: $color-front-sec;
                text-decoration: none;
            }
        }
        }
    }
}

// #front-page-nav {
//     width: 74%;
//     height: 20%;
//     margin: 210px auto 0;
//     text-align: center;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     @media (max-width : $break-xxs) {
//         width: 86%;
//         margin-top: 170px;
//     }
//     @media (max-height : $break-lndscp) {
//         margin-top: 90px;
//     }
//     @media (min-width : $break-sm) {
//         width: 69%;
//     }
//     @media (min-width : $break-md ) {
//         margin-top: 100px;
//         width: 53%;
//     }
//     @media (min-width : $break-lg ) {
//         width: 70%;
//     }
//     @media (min-width : $break-xl ) {
//         width: 65%;
//     }
//     .front-nav-item {       // Individual Tutor/Web-Dev Divs
//         background-color: rgb(29, 3, 116);
//         padding: 12px;
//         font-family: $front-font-2;
//         color: white;
//         width: 320px;
//         height: 140x;
//         transition: height .65s ease-out;
//         p {
//             margin-top: 6px;
//             opacity: 1;
//             z-index: -1000;
//             font-size: 1.07em;
//             @media (min-width : $break-sm) {
//                 display: block;
//                 opacity: 0;
//             }
//             @media (min-width : $break-md ) {
//                 font-size: 1.18em;
//             }
//             @media (min-width : $break-lg) {
//                 font-size: 1.24em;
//             }
//         }
//         @media (min-width : $break-sm) {
//             height: 76px;
//             &:hover {
//                 height: 146px;
//                 p {
//                     transition: opacity .28s ease-out;
//                     transition-delay: .44s;
//                     opacity: 1;
//                 }
//             }
//         }
//         &:first-child {
//             border-radius: 18px 18px 0 0;
//             border: solid white;
//             border-width: 3px 0 0 4px;
//             margin-bottom: 32px;
//         }
//         &:last-child {
//             border-radius: 0 0 18px 18px;
//             border: 3px solid white;
//             border-width: 3px 0 0 4px;
//         }
//         a{
//             z-index: 1000;
//             font-size: 1.6em;
//             font-weight: 700;
//             color: white;
//             display: block;
//             @media (min-width : $break-md ) {
//                 font-size: 1.8em;
//                 &:hover {
//                     color: rgb(180, 246, 255); 
//                 } 
//             }
//         }
//     }
// }
