#front-page-main {
    position: absolute;
    background: url('../../images/front-page-mtns.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: $font-title;
}

// Adding top space before Name/Title in bigger screens
@media (min-width : $break-md ) and (min-height: $break-lndscp) {
    #front-header {
        padding-top: 75px;
    }
}

#front-page-title {
    padding-top: 6px;
    background-color: rgba($color: $color-sec, $alpha: 0.76);
    border-bottom: rgb(0, 6, 92) solid 3px;
    border-top: #00065c solid 3px;
    display: flex;
    @include container-gradient-inverse(83.333px); 
    @media ( min-width : $break-md ) {
        display: block;
    }
    h1 {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: rgb(44, 24, 107);
        padding: 3px 25px;
        @media ( max-width : $break-xxs) {
            font-size: 33px;
            display: inline-block;
        }
        @media ( min-width : $break-md ) {
            font-size: 64px;
        }
        @media (max-height:$break-lndscp) {
            font-size: 35px;
        }
    }
}

// =================================================
// Main 3D Nav Section ============================
// ===============================================

#front-page-nav {
    font-family: $font-main;
    width: 240px;
    height: 514px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px auto 8px;
    @media (max-height: $break-lndscp) {
        flex-direction: row;
        width: 520px
    }
    @media (max-width: $break-xxs) {
        margin: 20px auto 2px;
        height: 480px;
    }
    @media ( min-width: $break-md) and (min-height: $break-lndscp) {
        display: grid;
        grid-template-columns: 300px minmax(8px, 1fr) 300px;
        width: 80%;
        height: 300px;
        max-width: 830px;
        margin: 100px auto 0;
    }
}

.front-nav-item {
    perspective: 1300px;
}

.empty-grid-div {
    height: 2px;
    width: 2px;
}

.tri-roller {
    transition: transform 1.9s cubic-bezier(.44,-0.15,.25,.55);
    transform-style: preserve-3d;
    height: 224px;
    width: 240px;
    @media (min-width: $break-md) {
        height: 280px;
        width: 300px;
    }
    &:hover {
        transform: rotateY(-240deg) translateX(-28px);
    }
}

.front-face,
.left-face,
.right-face,
.roller-img {
    height: 100%;
    border-right: black solid .3px;
    border-left: black solid .3px;
    width: 100%;
    display: block;
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    @media (min-width: $break-md) {
        @include triangle-prism-front(300px);
        @include container-gradient(280px);
    }
    @include triangle-prism-front(240px);
    @include container-gradient(224px);
    background-color: $color-pri;
    color: white;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3 {
        font-weight: bold;
        font-size: 1.9em;
        @media (min-width: $break-md) {
            font-size: 2.34em;
        }
        text-decoration: underline overline;
    }
}

.right-face {
    @media (min-width: $break-md) {
        @include triangle-prism-right(300px);    
    }
    @include triangle-prism-right(240px);}

.left-face {
    @media (min-width: $break-md) {
        @include triangle-prism-left(300px);
    }
    @include triangle-prism-left(240px);
    background-color: $color-sec;
    color: $color-pri;
    text-align: center;
    p {
        @media (min-width: $break-md) {
            font-size: 1.5em;
        }

        font-size: 1.2em;
        padding: 30px 16px 16px;
    }

    button {
        background-color: $color-pri;
        margin: 0 auto;
        border-radius: 8px;

        &:hover {
            background-color: lighten($color-pri, 10%);
        }

        a {
        display: inline-block;
        font-size: 1.1em;
        @media (min-width: $break-md) {
            font-size: 1.4em;
        }
        color: white;
        &:hover {
            color: $color-sec;
            text-decoration: none;
        }
        }
    }
}