header {
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 10;
    background: transparent;
    &.is-fixed {
        border-bottom: 2px solid $color-earth-grey;
        transition: .25s ease-out;
        background-image: radial-gradient(at bottom, $color-grey-xl -160%,  $color-dark 34%, $color-dark 40%, $color-dark-xd 116%);
        .logo {
            font-size: 3rem;
            transition: .08s ease-out;
            font-weight: 400;
        }
        nav ul li a {
            color: $color-grey-xl;
            &:first-child:hover {
                color: $color-green;
            }
        }
        &:hover {
            .logo {
                text-shadow: 1px 1px 1px $color-grey-xl;
            }
        }
    }
    
}

.header-inner {
    @include wrapper {
        display: flex;
        justify-content: space-between;
    }
}

nav { 
    display: flex;
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            align-items: center;
            a {
                font-family: $font-main;
                font-weight: bold;
                letter-spacing: 1px;
                text-decoration: none;
                color: #007bff;
                &:hover {
                    font-weight: bold;
                    text-decoration: underline overline;
                    color: $color-green;
                    text-shadow: 1px 1px $color-dark;
                }

                @media (min-width: $break-lg) {
                    font-size: 1.39rem;
                }
            }
        }
        li:first-child {
            margin-right: 22px;
            @media (max-width: $break-xs) {
                margin-right: 12px;
            }
            @media (min-width: $break-lg) {
                margin-right: 38px;
            }
        }
    }
}

.logo {
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 5.5rem;
    transition: text-shadow .25s ease-in;
    font-weight: 400;
    span {
        &:first-child {
            color: $color-green;
        }
        &:last-child {
            color: $color-blue;
        }
    }
    @media (max-width: $break-xxs) {
        font-size: 3.5rem;
        order: -1;
    }
}
