.heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 0 2px white;
    
    h2 {
        @include wrapper;
        font-size: 4rem;
        @media (max-width: $break-xs) {
            font-size: 3rem;
        }
        @media (max-width: $break-xxs) {
            font-size: 2.7rem;
        }
    }
}

.heading-text {
    color: white;
    text-shadow: 4px 4px 4px $color-dark;
    position: relative;
    z-index: 3;
    font-weight: 400;
}


.fill {
    @include wrapper {
        background-color: $color-grey-xl;
        color: $color-dark-xd;
    }
    border: solid 3px $color-earth-grey;
    box-shadow: inset 0 0 10px 6px $color-dark;
    width: 94%;
    margin: 90px auto 130px;
    padding: 24px 16px 10px;

    @media (max-width: $break-xs) {
        margin-top: 75px;
    }
}