#projects {
    position: relative;
    background-image: url('../../images/lightbulbs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    border-top: solid 4px $color-blue;
}

#projects:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .5;
    background: $color-green;
    mix-blend-mode: screen;
}

#project-fill {
    perspective: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 200px;
    border-bottom: $color-earth-grey solid 2px;
    box-shadow: 0 10px 22px $color-dark;
}

.prism {
    width: 460px;
    margin: 60px auto;
    transition: transform 2.2s cubic-bezier(.44,-0.15,.25,.55);
    transform-style: preserve-3d;

    @media (max-width: $break-xs) {
        width: 340px;
    }

    &:hover {
        transform: rotateY(-240deg) translateX(-44px);
        -webkit-transform: rotateY(-240deg) translateX(-44px);
    }
}

.prism-front,
.prism-front img,
.prism-right,
.prism-right img,
.prism-left {
    width: 100%;
    height: 273.48px;
    display: block;
    position: absolute;
    backface-visibility: hidden;
    border: solid 1px $color-earth-grey;

    @media (max-width: $break-xs) {
        height: 202.14px;
    }
}

.prism-front {
    @include triangle-prism-front(460px);

    @media (max-width: $break-xs) {
        @include triangle-prism-front(340px);
    }   
}

.prism-right {
    @include triangle-prism-right(460px);

    @media (max-width: $break-xs) {
        @include triangle-prism-right(340px);
    }  
}

.prism-left {
    @include triangle-prism-left(460px);
    background: $color-grey-xl;
    color: $color-dark-xd;
    padding: 20px 22px;
    text-align: center;
    font-size: 1.2rem;

    @media (max-width: $break-xs) {
        @include triangle-prism-left(340px);
        font-size: .96rem;
        padding: 16px 18px;
    }  
    a {
        color: $color-blue;
        &:hover {
            color: $color-green;
        }
    }
}

.coming-soon {
    text-align: center;
    margin-top: 320px;
    margin-bottom: 60px
}