#resume {
    position: relative;
    background-image: url('../../images/work-stuff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    border-top: solid 4px $color-green;

}

#resume:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .9;
    background: $color-blue;
    mix-blend-mode: screen;
}

#coding-stuff {
    grid-area: cod;
}
#experience {
    grid-area: exp;
}
#education {
    grid-area: edu;
}

#resume-fill {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-areas: 
        "cod exp edu";

    @media (max-width: $break-md) {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "cod exp"
            "cod edu";
    }
    @media (max-width: $break-sm) {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cod"
        "exp" 
        "edu";
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 400;
        margin: 0 0 8px;
    }
    ul {
        padding-left: 20px;
        list-style-type: none;
        max-width: 380px;
        font-family: $font-main;
        margin-top: 0;

        li {
            font-size: 1.1rem;
            a {
                color: $color-blue;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: $color-green;
                }
            }
        }

        li:nth-child(2n)::before {
            content: "►"; 
            color: $color-green;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
        }
        li:nth-child(2n + 1)::before {content: "►"; color: $color-blue;
            display: inline-block; width: 1em;
            margin-left: -1em
        }
    }
}