#resume {
    background-image: url('../../images/work-stuff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    h2 {
        color: $color-blue;
        text-shadow: 4px 4px $color-green;
    }
}

#resume-fill {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    ul {
        padding-left: 20px;
        list-style-type: none;
        max-width: 400px;

        li:nth-child(2n)::before {content: "►"; color: $color-green;
            display: inline-block; width: 1em;
            margin-left: -1em
        }
        li:nth-child(2n + 1)::before {content: "►"; color: $color-blue;
            display: inline-block; width: 1em;
            margin-left: -1em
        }
    }
}