
#tut-title-wrap {
    background: linear-gradient(10deg, $color-front-pri 50%, $color-front-sec 200%);
    color: $color-front-sec;
    width: 100%;
    padding: 8px 0 8px 12px;
    border-bottom: 1px solid $color-front-sec;
    text-shadow: -6px 6px 18px darken($color-front-pri, 50%);
    h1 {
        font-family: $front-font;
        font-weight: bold;
        font-size: 3rem;
        @media (max-width: $break-xxs) {
            font-size: 2.2rem;
        }
    }
    h4 {
        font-family: $front-font-2;
        margin-bottom: 0;
        @media (max-width: $break-xxs) {
            font-size: 1.2rem;
        }
    }
}

#tut-main-img {
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(7.5deg, $color-front-pri 50%, $color-front-sec 190%);
    color: $color-front-sec;
    border-top: 1px solid $color-front-sec;
    border-bottom: 1px solid $color-front-sec;
    text-shadow: -6px 6px 18px darken($color-front-pri, 50%);
    // position: sticky;
    // top: 0px;
    h5, ul {
        margin-bottom: 0;
    }
    h5 {
        padding: 12px 15px;
        border-right: 2px solid $color-front-sec;
        font-family: $front-font;
        font-size: 1.5rem;
        font-weight: bold;
    }
    ul {
        display: flex;
        list-style-type: square;
        list-style-position: inside;
        padding-left: 0;
        padding-right: 5px;
        @media (max-width: $break-xxs) {
            list-style-type: none;
        }
        li {
            padding: 12px 0;
            // display: inline-block;
            font-size: 1.11rem;
            &:first-child {
                list-style-type: none;
            }
            a {
                color: $color-front-sec;
                padding-right: 18px;
            }
        }
    }
}

#tut-main {
    background: $color-front-sec;
    color: darken($color-front-pri, 20%);
}



