
#tut-title-wrap {
    @include container-gradient(112px);
    color: $color-sec;
    width: 100%;
    padding: 8px 0 8px 12px;
    border-bottom: 1px solid $color-sec;
    h1 {
        font-family: $font-title;
        font-weight: bold;
        font-size: 3rem;
        @media (max-width: $break-xxs) {
            font-size: 2.2rem;
        }
    }
    h4 {
        font-family: $font-main;
        margin-bottom: 0;
        @media (max-width: $break-xxs) {
            font-size: 1.2rem;
        }
    }
}

#tut-main-img {
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include container-gradient(54.667px);
    color: $color-sec;
    border-top: 1px solid $color-sec;
    border-bottom: 1px solid $color-sec;
    position: sticky;
    top: -1px;
    h5, ul {
        margin-bottom: 0;
    }
    h5 {
        padding: 12px 15px;
        border-right: 2px solid $color-sec;
        font-family: $font-title;
        font-size: 1.5rem;
        font-weight: bold;
    }
    ul {
        display: flex;
        list-style-type: square;
        list-style-position: inside;
        padding-left: 0;
        padding-right: 5px;
        @media (max-width: $break-xxs) {
            list-style-type: none;
        }
        li {
            padding: 12px 0;
            // display: inline-block;
            font-size: 1.11rem;
            &:first-child {
                list-style-type: none;
            }
            a {
                color: $color-sec;
                padding-right: 18px;
            }
        }
    }
}

#tut-main {
    background: $color-sec;
    padding-top: 12px;
}

.div-cont {
    background-color: lighten($color-sec, 8%);
    color: darken($color-pri, 5%);
    width: 95%;
    margin: 12px auto 12px;
    border-radius: 20px;
    border: 1px $color-sec solid;
    box-shadow: -4px 4px 12px darken($color-pri, 20%);
    h2, 
    p {
        padding: 12px 4px 2px 8px;
        font-size: 1.1rem;
    }
    h2 {
        font-size: 2.9rem;
        font-weight: bold;
        text-decoration: underline;
    }
    p {
        &:first-of-type::first-letter {
            display: block;
            float: left;
            line-height: .54;
            margin-right: 5px;
            margin-top: 10px;
            font-size: 4rem;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}



