.icn_cont {
  margin: 0 10px;
  transition: none;
  height: 150px;
  width: 150px; }
  @media (min-width: 1120px) {
    .icn_cont {
      margin: 14px auto 0;
      transition: all .3s ease-out; } }

#house-cont {
  height: 150px;
  width: 150px;
  border: solid 2px lightgrey;
  position: relative;
  background-image: linear-gradient(to top, green -4%, transparent 20%, transparent 60%, #b0cdff 120%); }
  #house-cont #roof {
    content: '';
    height: 0;
    width: 80px;
    border-right: solid transparent 30px;
    border-left: solid transparent 30px;
    border-bottom: solid #0b560b 20px;
    position: absolute;
    top: 7px;
    left: 5px; }
    #house-cont #roof::after {
      content: '';
      width: 0;
      height: 0;
      border-right: solid transparent 30px;
      border-left: solid transparent 30px;
      border-bottom: solid #acacac 20px;
      position: absolute;
      left: 10.5px; }
    #house-cont #roof::before {
      content: '';
      width: 0;
      height: 8px;
      border-bottom: solid transparent 6.5px;
      border-right: solid grey 10px;
      position: absolute;
      right: -21px; }
  #house-cont #base {
    width: 130px;
    height: 110px;
    background-color: #d1a59a;
    border: solid 1px black;
    position: absolute;
    bottom: 13px;
    left: 10px;
    box-sizing: border-box; }
    #house-cont #base::after {
      content: '';
      height: 0;
      width: 0;
      border-right: solid transparent 20px;
      border-left: solid transparent 20px;
      border-bottom: solid #d1a59a 13.2px;
      position: absolute;
      top: -13px;
      left: 44px; }
    #house-cont #base::before {
      content: '';
      width: 24px;
      height: 42px;
      background-color: white;
      position: absolute;
      bottom: 0;
      right: 52px;
      border: 1px solid black;
      border-bottom: none;
      box-sizing: border-box; }
    #house-cont #base #mid-panel {
      width: 33.3%;
      height: 100%;
      border-left: solid 1px black;
      border-right: solid 1px black;
      margin: 0 auto;
      box-shadow: 0 0 4px 1px #666;
      position: relative; }
      #house-cont #base #mid-panel::after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: gold;
        border-radius: 50%;
        position: absolute;
        bottom: 14px;
        right: 31%; }
      #house-cont #base #mid-panel::before {
        content: '';
        height: 20px;
        width: 12px;
        border: 3px solid white;
        position: absolute;
        top: 12px;
        left: 12px;
        background-color: #92C1FE;
        box-shadow: 0 2px 2px 0 #333; }
    #house-cont #base .window {
      height: 20px;
      width: 12px;
      border: 3px solid white;
      position: absolute;
      top: 12px;
      left: 10px;
      background-color: #92C1FE;
      box-shadow: 0 2px 2px 0 #333; }
      #house-cont #base .window::after {
        content: '';
        height: 20px;
        width: 12px;
        border: 3px solid white;
        position: absolute;
        top: -3px;
        left: 86px;
        background-color: #92C1FE;
        box-shadow: 0 2px 2px 0 #333; }
    #house-cont #base #window-2 {
      top: 68px; }
      #house-cont #base #window-2::before {
        content: '';
        height: 0;
        width: 132px;
        border-right: solid transparent 10px;
        border-left: solid transparent 10px;
        border-bottom: solid #b1b1b1 13px;
        position: absolute;
        bottom: -31px;
        left: -25px; }

#roller-cont {
  border: solid 2px lightgrey;
  position: relative;
  float: right; }
  #roller-cont .roller-top {
    height: 23.7px;
    width: 94.7px;
    background-image: linear-gradient(to top, black -180%, lightblue 50%, white 200%);
    border-radius: 6.3px;
    transform: rotate(-38deg);
    position: absolute;
    top: 34.7px; }
    #roller-cont .roller-top::after {
      position: absolute;
      right: -7.1px;
      top: 9.5px;
      content: '';
      width: 5.5px;
      height: 19.7px;
      border-width: 2.4px 2.4px .8px 0;
      border-color: grey;
      border-style: solid;
      border-radius: 0 100% 200% 0; }
    #roller-cont .roller-top::before {
      content: '';
      position: absolute;
      right: -5.5px;
      top: 35.1px;
      width: 41px;
      height: 2.4px;
      background-color: grey;
      transform: rotate(-17deg);
      border-radius: 0 0 11.8px 7.9px; }
  #roller-cont .roller-handle {
    width: 11.1px;
    height: 53.7px;
    background-image: linear-gradient(to top, black -150%, red 40%);
    transform: rotate(-38deg);
    position: absolute;
    bottom: 5.4px;
    right: 37.9px; }
    #roller-cont .roller-handle::after {
      content: '';
      width: 2.4px;
      height: 28.4px;
      background-color: grey;
      position: absolute;
      top: -28.4px;
      right: 4.3px; }
    #roller-cont .roller-handle::before {
      position: absolute;
      right: -5.6px;
      top: -36.3px;
      content: '';
      width: 9.5px;
      height: 6.3px;
      border-width: 2.4px 0 0 2.4px;
      border-color: grey;
      border-style: solid;
      border-radius: 300% 0 0 0; }
  #roller-cont .circle {
    height: 4.7px;
    width: 4.7px;
    background-color: #f3f3f3;
    border-radius: 50%;
    position: absolute;
    bottom: 4.7px;
    left: 3.2px; }
    #roller-cont .circle::after {
      content: '';
      width: 11.1px;
      height: 11.1px;
      background-color: #f6fff3;
      border-radius: 4.7px;
      position: absolute;
      top: -41.1px;
      right: -11.2px; }
      @media (min-width: 1120px) {
        #roller-cont .circle::after {
          background-color: #f3f3f3; } }
    #roller-cont .circle::before {
      content: '';
      width: 11.1px;
      height: 11.1px;
      background-color: #f6fff3;
      border-radius: 6px;
      position: absolute;
      top: -41.1px;
      left: -11.2px; }
      @media (min-width: 1120px) {
        #roller-cont .circle::before {
          background-color: #f3f3f3; } }

#C-cont {
  border: solid 2px lightgrey;
  display: inline-block;
  background: darkblue;
  position: relative;
  float: left; }
  #C-cont .stripe {
    height: 46%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 27%; }
  #C-cont .C {
    position: relative;
    top: 8.5px;
    left: 9.5px;
    width: 67.8px;
    height: 67.8px;
    border: 33.4px solid red;
    border-radius: 50%; }
  #C-cont::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 49.7px;
    right: 3.75px;
    border-top: solid 25.9px transparent;
    border-bottom: solid 25.9px transparent;
    border-right: solid 71.6px white;
    z-index: 2; }
  #C-cont .c {
    height: 72.9px;
    width: 72.9px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    bottom: 94.8px;
    left: 39.5px;
    z-index: 3; }

html, body {
  background-color: #f6fff3;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", sans-serif; }

p, li, a {
  font-family: "Noto Serif", serif; }

#header-top {
  display: flex;
  justify-content: space-between;
  background-image: radial-gradient(ellipse at bottom, #175676 -30%, #104F55 50%, #32746D 130%);
  height: 78px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: #f6fff3; }
  @media (min-width: 1120px) {
    #header-top {
      display: none; } }
  #header-top #main-heading,
  #header-top i {
    align-self: center;
    margin: 0 22px; }
  #header-top #main-heading {
    line-height: 1;
    text-align: center; }
  #header-top i {
    font-size: 32px; }
  #header-top #menu_bars {
    height: 36px;
    width: 42px;
    align-self: center;
    margin: 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; }
    #header-top #menu_bars .menu_bar {
      width: 100%;
      height: 6px;
      background-color: #f6fff3;
      border-radius: 3px;
      transition: all .3s ease-out; }
  #header-top .right_x {
    position: absolute;
    transform: rotate(45deg);
    top: 40%; }
  #header-top .left_x {
    position: absolute;
    transform: rotate(-45deg);
    top: 40%; }

nav {
  position: fixed;
  top: 78px;
  left: -200px;
  height: calc(100vh - 78px);
  width: 200px;
  background-color: #104F55;
  z-index: 100;
  border-top: solid 1px #f6fff3;
  transition: left .4s ease-out; }
  @media (min-width: 1120px) {
    nav {
      height: 100%;
      top: 0;
      left: 0; } }
  nav #nav_heading {
    display: none; }
    @media (min-width: 1120px) {
      nav #nav_heading {
        display: block;
        color: #f6fff3;
        font-size: 2.5rem;
        padding-left: 10px;
        margin: 48px 0; } }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    nav ul li {
      font-weight: 700;
      border-bottom: solid 1px #f6fff3; }
      @media (min-width: 1120px) {
        nav ul li:first-child {
          border-top: solid 1px #f6fff3; } }
      nav ul li a {
        color: #f6fff3;
        text-decoration: none;
        display: block;
        padding: 15px 0;
        background-image: linear-gradient(to left, transparent 0%, transparent 50%, #f6fff3 50%, #f6fff3 100%);
        background-size: 200% 100%;
        background-position: 100% 100%;
        transition: all ease .34s; }
        nav ul li a:hover {
          background-position: 0% 100%;
          color: #104F55; }
        nav ul li a:first-child {
          padding: 20px 0 15px; }

#banner {
  background-image: url("../imgs/house-main-sm.jpg");
  background-repeat: no-repeat;
  background-size: auto 110%;
  background-position: 44%;
  height: 100vh;
  border-bottom: 5px solid #175676;
  position: relative; }
  @media (min-width: 1120px) {
    #banner {
      background-image: url("../imgs/house-main-lg.jpg");
      background-size: cover;
      background-position: 0 80%;
      width: calc(100vw - 215px);
      margin-left: auto; } }
  #banner:before {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .6;
    background-image: linear-gradient(to top, transparent, 0, transparent 70%, #ffff28 83%);
    mix-blend-mode: screen;
    transition: top .6s ease-out; }
  #banner h1 {
    font-family: "Bilbo Swash Caps", cursive;
    opacity: 0;
    color: #003df3;
    text-align: center;
    font-size: 2.4em;
    position: relative;
    margin-top: 0;
    top: 92px;
    transition: 1.2s opacity ease-out; }
    @media (min-width: 1120px) {
      #banner h1 {
        font-size: 6.8em;
        margin-top: 0;
        top: 2.5%; } }

@keyframes arrow {
  0% {
    top: 50%;
    opacity: 1; }
  100% {
    top: 80%;
    opacity: 0; } }
  #banner #arrow_down_cont {
    height: 300px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc((100vw - 200px) /2); }
    @media (min-width: 1120px) {
      #banner #arrow_down_cont {
        left: calc((100vw - 200px) / 2 - 100px); } }
    #banner #arrow_down_cont #left_arrow_side,
    #banner #arrow_down_cont #right_arrow_side {
      background-color: #f6fff3;
      width: 70px;
      height: 6px;
      position: absolute;
      top: 50%;
      animation: arrow 1.7s ease-in-out infinite; }
    #banner #arrow_down_cont #left_arrow_side {
      right: 45.908%;
      transform: rotate(40deg) skew(40deg); }
    #banner #arrow_down_cont #right_arrow_side {
      left: 45.908%;
      transform: rotate(-40deg) skew(-40deg); }

footer {
  background-image: radial-gradient(ellipse at top, #175676 -50%, #104F55 20%, #32746D 100%);
  height: 200px;
  color: #f6fff3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; }
  @media (min-width: 1120px) {
    footer {
      width: calc(100vw - 215px);
      margin-left: auto;
      flex-direction: row; } }
  footer h2, footer h3 {
    padding: 0 0; }
    @media (min-width: 1120px) {
      footer h2, footer h3 {
        padding: 50px 0; } }

#desc_cont {
  color: #104F55; }
  @media (min-width: 1120px) {
    #desc_cont {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      width: calc(100vw - 215px);
      margin-left: auto; } }
  #desc_cont .front_desc {
    margin: 50px 0 80px;
    padding-bottom: 40px;
    border-bottom: 4px dashed #175676; }
    #desc_cont .front_desc:hover .icn_cont {
      transform: none; }
      @media (min-width: 1120px) {
        #desc_cont .front_desc:hover .icn_cont {
          transform: scale(1.1); } }
    #desc_cont .front_desc:first-child:hover .icn_cont {
      box-shadow: none; }
      @media (min-width: 1120px) {
        #desc_cont .front_desc:first-child:hover .icn_cont {
          box-shadow: -4px 4px 4px grey; } }
    #desc_cont .front_desc:nth-child(2):hover .icn_cont {
      box-shadow: none; }
      @media (min-width: 1120px) {
        #desc_cont .front_desc:nth-child(2):hover .icn_cont {
          box-shadow: 0 4px 4px grey; } }
    #desc_cont .front_desc:last-child:hover .icn_cont {
      box-shadow: none; }
      @media (min-width: 1120px) {
        #desc_cont .front_desc:last-child:hover .icn_cont {
          box-shadow: 4px 4px 4px grey; } }
    @media (min-width: 1120px) {
      #desc_cont .front_desc {
        border: solid 4px #175676;
        padding: 0px;
        width: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column; } }
    @media (min-width: 1120px) {
      #desc_cont .front_desc:first-child {
        box-shadow: -8px 8px 8px grey; } }
    @media (min-width: 1120px) {
      #desc_cont .front_desc:nth-child(2) {
        box-shadow: 0 8px 8px grey; } }
    #desc_cont .front_desc:last-child {
      border-bottom: none;
      margin-bottom: 40px; }
      @media (min-width: 1120px) {
        #desc_cont .front_desc:last-child {
          border: solid 4px #175676;
          margin: 50px 0 80px;
          box-shadow: 8px 8px 8px grey; } }
    #desc_cont .front_desc h3 {
      margin: 0 6px;
      font-family: "Noto Serif"; }
      @media (min-width: 540px) {
        #desc_cont .front_desc h3 {
          padding: 30px; } }
    #desc_cont .front_desc a {
      font-family: "Fira Sans";
      text-decoration: underline;
      color: #175676; }
