// ===================================
// Variables =========================
// ===================================

// Fonts

$front-font: 'Roboto Slab', serif;
$front-font-2: 'Lato', sans-serif;

//  Colors

$color-front-pri: rgb(29, 3, 116);
$color-front-sec: #daf6ff;

// Break Points

$break-xxs: 376px;
$break-xs: 575px;
$break-sm: 576px;
$break-md: 875px;
$break-lg: 992px;
$break-xl: 1098px;

$break-lndscp: 420px;