// ===================================
// Variables =========================
// ===================================

// Fonts

$front-font:'Poppins', sans-serif;


// Break Points

$break-xs: 575px;
$break-sm: 576px;
// $break-md: ;
// $break-lg: ;
// $break-xl: ;