// ===================================
// Variables =========================
// ===================================

// Fonts

$font-title: 'Righteous', cursive;
$font-main: 'Yantramanav', sans-serif;

//  Colors

// $color-pri: black;
// $color-sec: white;

$color-blue: #0077b5;
$color-green: #12d400;
$color-dark: #50514f;
$color-earth-grey: #b1c1c0;
$color-earth-brown: #d4cb92;

$color-dark-xd: darken($color-dark, 20%);
$color-grey-xl: lighten($color-earth-grey, 12%);


// Break Points

$break-xxs: 374px;
$break-xs: 549px;
$break-sm: 550px;
$break-md: 875px;
$break-lg: 992px;
$break-xl: 1098px;

$break-lndscp: 420px;