html {
  background-image: linear-gradient(to top left, steelblue, darkblue);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

#calculator {
  width: 450px;
  max-width: 96vw;
  border: 4px outset steelblue;
  border-radius: 12px;
  padding: 8px;
  box-sizing: border-box;
  margin: 50px auto auto;
  position: relative;
  background-color: rgb(255, 243, 253);
  box-sizing: border-box;
}

#screen {
  text-align: right;
  font-family: monospace;
  font-size: 2.7rem;
  margin: 24px 8px;
}

#btn-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.btn {
  padding: 14px 0;
  font-size: 1.3rem;
  border-radius: 8px;
  background-image: linear-gradient(10deg, steelblue -110%, white 70%);
  font-weight: bold;
  text-align: center;
  border: solid 1px lightgray;
}

.btn:active {
  border: solid 1px black;
  background-image: linear-gradient(10deg, white, lightblue 200%);
}

em {
  font-family: serif;
  font-size: 1.05rem;
}

#clear {
  grid-column-start: 1;
  grid-column-end: 4;
}

#equ {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 4;
  grid-column-end: 5;
  padding-top: 40px;
}

#history-cont {
  position: absolute;
  bottom: -2px;
  z-index: -1;
  transition: bottom .4s ease-out;
}

#history-text {
  width: 410px;
  background-color: white;
  max-width: 90vw;
  border: solid 1px black;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 160px;
  border-radius: 0 0 0 16px;
}

#history-tag {
  display: inline-block;
  position: absolute;
  right: 6px;
  padding: 4px 6px;
  border-left: solid black 1px;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
  cursor: pointer;
  background-color: white;
  border-radius: 0 0 6px 6px;
}

#triangle {
  display: inline-block;
  transition: transform .5s ease-out;
}

@media (max-width: 500px) {
  #calculator {
    margin-top: 8px;
  }

  .btn {
    font-size: .92rem;
  }
}