#front-page-main {
  position: absolute;
  background: url("../../images/front-page-mtns.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Slab", serif; }

@media (min-width: 875px) and (min-height: 420px) {
  #front-header {
    padding-top: 75px; } }

#front-page-title {
  padding-top: 6px;
  background-color: rgba(218, 246, 255, 0.76);
  border-bottom: #00065c solid 3px;
  border-top: #00065c solid 3px;
  display: flex;
  background: linear-gradient(7.99983deg, #daf6ff 57%, #1d0374 223.58142%);
  text-shadow: -6px 6px 18px white; }
  @media (min-width: 875px) {
    #front-page-title {
      display: block; } }
  #front-page-title h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #2c186b;
    padding: 3px 25px; }
    @media (max-width: 376px) {
      #front-page-title h1 {
        font-size: 33px;
        display: inline-block; } }
    @media (min-width: 875px) {
      #front-page-title h1 {
        font-size: 64px; } }
    @media (max-height: 420px) {
      #front-page-title h1 {
        font-size: 35px; } }

#front-page-nav {
  font-family: "Lato", sans-serif;
  width: 240px;
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto 8px; }
  @media (max-height: 420px) {
    #front-page-nav {
      flex-direction: row;
      width: 520px; } }
  @media (max-width: 376px) {
    #front-page-nav {
      margin: 20px auto 2px;
      height: 480px; } }
  @media (min-width: 875px) and (min-height: 420px) {
    #front-page-nav {
      display: grid;
      grid-template-columns: 300px minmax(8px, 1fr) 300px;
      width: 80%;
      height: 300px;
      max-width: 830px;
      margin: 100px auto 0; } }

.front-nav-item {
  perspective: 1300px; }

.empty-grid-div {
  height: 2px;
  width: 2px; }

.tri-roller {
  transition: transform 1.9s cubic-bezier(0.44, -0.15, 0.25, 0.55);
  transform-style: preserve-3d;
  height: 224px;
  width: 240px; }
  @media (min-width: 875px) {
    .tri-roller {
      height: 280px;
      width: 300px; } }
  .tri-roller:hover {
    transform: rotateY(-240deg) translateX(-28px); }

.front-face,
.left-face,
.right-face,
.roller-img {
  height: 100%;
  border-right: black solid .3px;
  border-left: black solid .3px;
  width: 100%;
  display: block;
  position: absolute;
  backface-visibility: hidden; }

.front-face {
  transform: translateZ(51.96152px);
  background: linear-gradient(17.8143deg, #1d0374 50%, #daf6ff 203.53189%);
  text-shadow: -6px 6px 18px black;
  background-color: #1d0374;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (min-width: 875px) {
    .front-face {
      transform: translateZ(64.95191px);
      background: linear-gradient(21.72148deg, #1d0374 50%, #daf6ff 199.53114%);
      text-shadow: -6px 6px 18px black; } }
  .front-face h3 {
    font-weight: bold;
    font-size: 1.9em;
    text-decoration: underline overline; }
    @media (min-width: 875px) {
      .front-face h3 {
        font-size: 2.34em; } }

.right-face {
  transform: translate3d(60px, 0, -51.96152px) rotateY(120deg); }
  @media (min-width: 875px) {
    .right-face {
      transform: translate3d(75px, 0, -64.95191px) rotateY(120deg); } }

.left-face {
  transform: translate3d(-60px, 0, -51.96152px) rotateY(-120deg);
  background-color: #daf6ff;
  color: #1d0374;
  text-align: center; }
  @media (min-width: 875px) {
    .left-face {
      transform: translate3d(-75px, 0, -64.95191px) rotateY(-120deg); } }
  .left-face p {
    font-size: 1.2em;
    padding: 30px 16px 16px; }
    @media (min-width: 875px) {
      .left-face p {
        font-size: 1.5em; } }
  .left-face button {
    background-color: #1d0374;
    margin: 0 auto;
    border-radius: 8px; }
    .left-face button:hover {
      background-color: #2904a6; }
    .left-face button a {
      display: inline-block;
      font-size: 1.1em;
      color: white; }
      @media (min-width: 875px) {
        .left-face button a {
          font-size: 1.4em; } }
      .left-face button a:hover {
        color: #daf6ff;
        text-decoration: none; }

#tut-title-wrap {
  background: linear-gradient(9.99995deg, #1d0374 50%, #daf6ff 211.5334%);
  text-shadow: -6px 6px 18px black;
  color: #daf6ff;
  width: 100%;
  padding: 8px 0 8px 12px;
  border-bottom: 1px solid #daf6ff; }
  #tut-title-wrap h1 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 3rem; }
    @media (max-width: 376px) {
      #tut-title-wrap h1 {
        font-size: 2.2rem; } }
  #tut-title-wrap h4 {
    font-family: "Lato", sans-serif;
    margin-bottom: 0; }
    @media (max-width: 376px) {
      #tut-title-wrap h4 {
        font-size: 1.2rem; } }

#tut-main-img {
  width: 100%; }

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(5.99977deg, #1d0374 50%, #daf6ff 215.62938%);
  text-shadow: -6px 6px 18px black;
  color: #daf6ff;
  border-top: 1px solid #daf6ff;
  border-bottom: 1px solid #daf6ff;
  position: sticky;
  top: -1px; }
  .nav-bar h5, .nav-bar ul {
    margin-bottom: 0; }
  .nav-bar h5 {
    padding: 12px 15px;
    border-right: 2px solid #daf6ff;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-weight: bold; }
  .nav-bar ul {
    display: flex;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
    padding-right: 5px; }
    @media (max-width: 376px) {
      .nav-bar ul {
        list-style-type: none; } }
    .nav-bar ul li {
      padding: 12px 0;
      font-size: 1.11rem; }
      .nav-bar ul li:first-child {
        list-style-type: none; }
      .nav-bar ul li a {
        color: #daf6ff;
        padding-right: 18px; }

#tut-main {
  background: #daf6ff;
  padding-top: 12px; }

.div-cont {
  background-color: white;
  color: #17025b;
  width: 95%;
  margin: 12px auto 12px;
  border-radius: 20px;
  border: 1px #daf6ff solid;
  box-shadow: -4px 4px 12px #040011; }
  .div-cont h2,
  .div-cont p {
    padding: 12px 4px 2px 8px;
    font-size: 1.1rem; }
  .div-cont h2 {
    font-size: 2.9rem;
    font-weight: bold;
    text-decoration: underline; }
  .div-cont p:first-of-type::first-letter {
    display: block;
    float: left;
    line-height: .54;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif; }
