#contact_main_inner {
    margin-top: 90px;
    color: $d-green;

    @media (min-width: $mq-xl) {
        @include wrapper;
        margin-top: 0;
    }

    #contact_flex {

        @media (min-width: $mq-xl) {
            display: flex;
            margin: 60px auto;
            justify-content: space-around;
            width: 87%;
        }   
    }

    #contact_heading {
        font-size: 3.3rem;
        width: fit-content;
        margin-left: 12px;

        @include heading_borders;

        @media (min-width: $mq-xl) {
            font-size: 4.8rem;
            display: block;
            margin: 40px auto;
        }
    }

    img {
        width: 100vw;
        max-width: 540px;
<<<<<<< HEAD
        // border-top: 4px solid $blue;
        // border-bottom: 4px solid $blue;
        margin: 40px auto 30px;
        display: block;
        box-shadow: 0 0 12px 1px black;

        // @media (min-width: $mq-sm) {
        //     border: solid 4px $blue;
        // }
=======
        border-top: 4px solid $blue;
        border-bottom: 4px solid $blue;
        margin: 40px auto 30px;
        display: block;

        @media (min-width: $mq-sm) {
            border: solid 4px $blue;
        }
>>>>>>> 079e41a0ad275aa98bf0729fa3399b6c0e295f31
        @media (min-width: $mq-xl) {
            margin: 0 auto;
            display: block;
            align-self: start;
        }
    }

    form {
        width: 85vw;
        max-width: 430px;
        margin: 0 auto;
        border: solid 1px gray;
        border-radius: 12px;
        padding: 12px;
        font-family: $font-reg;
        font-weight: 700;
        color: $l-blue;
        background-image: linear-gradient(to top left, $blue, steelblue 130%);
        background-repeat: no-repeat;
        background-position: 80% 70%;
        background-size: 210%;
        position: relative;
        border: solid 4px $l-blue;
        box-shadow: 0 0 0 4px $blue;

        @media (min-width: $mq-xl) {
            margin: 0 20px;
        }

        #inputs_wrapper {
            width: 100%;
            max-width: 310px;
            margin: 0 auto;
        }

        .input_cont{
            display: flex;
            justify-content: space-between;
        }

        h2, label {
            text-shadow: 4px 4px 12px black;
        }
        
        h2 {
            font-size: 2.6rem;
            margin: 20px 0;
            text-align: center;
        }

        label {
            margin-top: 6px;   
        }

        input {
            margin: 6px 0 12px 10px;
            height: 1.25rem;
            border-radius: 4px;
            padding: 2px 3px;
        }

        #name {
            width: 190px;
        }

        #phone {
            width: 150px;
        }

        #email {
            width: 170px;
        }

        #address {
            width: 120px;
        }

        textarea {
            border-radius: 4px;
            margin-top: 6px;
            width: 98%;
        }

        button {
            margin: 30px auto;
            display: block;
            padding: 7px 11px;
            font-weight: 700;
            border: 4px outset $l-blue;
            border-radius: 8px;
            background-color: $l-blue;
            cursor: pointer;
        }
    }

    h3 {
        font-size: 1.8rem;
        text-align: center;
        margin: 10px auto 16px;

        @media (min-width: $mq-xl) {
            margin: 40px auto 16px;
            font-size: 2.4rem;
        }
    }
    
    table {
        color: $d-green;
        font-weight: 700;
        font-size: 1.2rem;
        margin: 0 auto 50px;

        @media (min-width: $mq-xl) {
            font-size: 1.6rem;
        }

        td {
            padding: 4px 6px;

            &:first-child {
                text-decoration: underline;
                font-size: 1.8rem;
            }

            @media (min-width: $mq-xl) {
                padding: 4px 10px;
            }
        }

        a {
            color: $d-green;
            text-decoration: none;

            &:hover {
                color: $blue;
                text-decoration: underline;
            }
        }
    }
}