.icn_cont {
    margin: 0 10px;
    transition: none;
    height: 150px;
    width: 150px;
    border: solid 2px lightgrey;
    position: relative;

    @media (min-width: $mq-xl) {
        margin: 14px auto 0;
        transition: all .3s ease-out;
    }
}

#house_cont {
  float: left;

  .roof {
    width: 74px;
    height: 6px;
    background-color: $d-green;
    position: absolute;
    top: 28px;
    left: 41px;
  }
  
  
  .roof::after {
    content: '';
    height: 5px;
    width: 41px;
    background-color: $d-green;
    position: absolute;
    top: 12.6px;
    left: -34.5px;
    transform: rotate(-40deg);
  }
  
  .roof::before {
    content: '';
    height: 5px;
    width: 46px;
    background-color: $d-green;
    position: absolute;
    top: 18px;
    left: -8px;
    transform: rotate(52deg);
  }
  
  .roof_base {
    width: 75px;
    height: 6px;
    position: absolute;
    background-color: $d-green;
    top: 64px;
    right: 6px;
  }
  
  .roof_base::after {
    content: '';
    width: 46px;
    height: 5px;
    background-color: $d-green;
    position: absolute;
    top: -18px;
    right: -6px;
    transform: rotate(52deg);
  }
  
  .roof_base::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 69px;
    background-color: $d-green;
    top: -1px;
    left: -3.5px;
  }
  
  .base {
    position: absolute;
    width: 4px;
    height: 64px;
    background-color: $d-green;
    top: 53px;
    left: 13px;
  }
  
  .base::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 69px;
    background-color: $d-green;
    top:11px;
    left: 122px;
  }
  
  .base::before {
    content: '';
    position: absolute;
    width: 71px;
    height: 5px;
    background-color: $d-green;
    bottom: -16px;
    right: -121px;
  }
  
  .base_door {
    position: absolute;
    height: 5px;
    width: 18px;
    background-color: $d-green;
    top: 115px;
    left: 13px;
    transform: rotate(18deg) skew(24deg);
  }
  
  .base_door::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 22.5px;
    background-color: $d-green;
    left: 36px;
    bottom: 2px;
    transform: rotate(-4deg);
  }
  
  .base_door::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 24px;
    background-color: $d-green;
    bottom: 36px;
    left: 19.2px;
  }
  
  .door {
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: $d-green;
    top: 82px;
    left: 27px;
  }
  
  .door::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 39px;
    background-color: $d-green;
    top: 5.5px;
    left: 20px;
  }
  
}


// #house-cont {
//     height: 150px;
//     width: 150px;
//     border: solid 2px lightgrey;
//     position: relative;
//     float: left;
//     background-image: linear-gradient(to top, green -4%, transparent 20%, transparent 60%, rgb(176, 205, 255) 120%);
    
//     #roof {
//       content: '';
//       height: 0;
//       width: 80px;
//       border-right: solid transparent 30px;
//       border-left: solid transparent 30px;
//       border-bottom: solid rgb(11, 86, 11) 20px;
//       position: absolute;
//       top: 7px;
//       left: 5px;
      
//       &::after {
//         content: '';
//         width: 0;
//         height: 0;
//         border-right: solid transparent 30px;
//         border-left: solid transparent 30px;
//         border-bottom: solid rgb(172, 172, 172) 20px;
//         position: absolute;
//         left: 10.5px;
//       }
      
//       &::before {
//         content: '';
//         width: 0;
//         height: 8px;
//         border-bottom: solid transparent 6.5px;
//         border-right: solid grey 10px;
//         position: absolute;
//         right: -21px;
//       }
//     }
  
//     #base {
//       width: 130px;
//       height: 110px;
//       background-color: rgb(209, 165, 154);
//       border: solid 1px black;
//       position: absolute;
//       bottom: 13px;
//       left: 10px;
//       box-sizing: border-box;
      
//     &::after {
//         content: '';
//         height: 0;
//         width: 0;
//         border-right: solid transparent 20px;
//         border-left: solid transparent 20px;
//         border-bottom: solid rgb(209, 165, 154) 13.2px;
//         position: absolute;
//         top: -13px;
//         left: 44px;
//       }
      
//       &::before {
//         content: '';
//         width: 24px;
//         height: 42px;
//         background-color: white;
//         position: absolute;
//         bottom: 0;
//         right: 52px;
//         border: 1px solid black;
//         border-bottom: none;
//         box-sizing: border-box;
//       }
      
//       #mid-panel {
//         width: 33.3%;
//         height: 100%;
//         border-left: solid 1px black;
//         border-right: solid 1px black;
//         margin: 0 auto;
//         box-shadow: 0 0 4px 1px #666;
//         position: relative;
        
//         &::after {
//           content: '';
//           width: 5px;
//           height: 5px;
//           background-color: gold;
//           border-radius: 50%;
//           position: absolute;
//           bottom: 14px;
//           right: 31%;
//         }
        
//         &::before {
//           content: '';
//           height: 20px;
//           width: 12px;
//           border: 3px solid white;
//           position: absolute;
//           top: 12px;
//           left: 12px;
//           background-color: #92C1FE;
//           box-shadow: 0 2px 2px 0 #333;
//         }
//       }
      
//       .window {
//         height: 20px;
//         width: 12px;
//         border: 3px solid white;
//         position: absolute;
//         top: 12px;
//         left: 10px;
//         background-color: #92C1FE;
//         box-shadow: 0 2px 2px 0 #333;
        
//         &::after {
//           content: '';
//           height: 20px;
//           width: 12px;
//           border: 3px solid white;
//           position: absolute;
//           top: -3px;
//           left: 86px;
//           background-color: #92C1FE;
//           box-shadow: 0 2px 2px 0 #333;
//         }
//       }
      
//       #window-2 {
//         top: 68px;
        
//         &::before {
//           content: '';
//           height: 0;
//           width: 132px;
//           border-right: solid transparent 10px;
//           border-left: solid transparent 10px;
//           border-bottom: solid rgb(177, 177, 177) 13px;
//           position: absolute;
//           bottom: -31px;
//           left: -25px;
//         }
//       }
//     }
//   }


#roller-cont {
    position: relative;
    float: right;

    .roller-top {
        height: 23.7px;
        width: 94.7px;
        background-image: linear-gradient(to top, black -180%, lightblue 50%, white 200%);
        border-radius: 6.3px;
        transform: rotate(-38deg);
        position: absolute;
        top: 34.7px;
            
        &::after {
            position: absolute;
            right: -7.1px;
            top: 9.5px;
            content: '';
            width: 5.5px;
            height: 19.7px;
            border-width: 2.4px 2.4px .8px 0;
            border-color: grey;
            border-style: solid;
            border-radius: 0 100% 200% 0;
        }
            
        &::before {
            content: '';
            position: absolute;
            right: -5.5px;
            top: 35.7px;
            width: 41px;
            height: 2.4px;
            background-color: grey;
            transform: rotate(-17deg);
            border-radius: 0 0 11.8px 7.9px;
        }
    }
    
    .roller-handle {
    width: 11.1px;
    height: 53.7px;
    background-image: linear-gradient(to top, black -150%, red 40%);
    transform: rotate(-38deg);
    position: absolute;
    bottom: 5.4px;
    right: 37.9px;

    &::after {
        content: '';
        width: 2.4px;
        height: 28.4px;
        background-color: grey;
        position: absolute;
        top: -28.4px;
        right: 4.3px;
    }
        
    &::before {
        position: absolute;
        right: -5.6px;
        top: -36.3px;
        content: '';
        width: 9.5px;
        height: 6.3px;
        border-width: 2.4px 0 0 2.4px;
        border-color: grey;
        border-style: solid;
        border-radius: 300% 0 0 0;
        }
    }
    
    .circle {
        height: 4.7px;
        width: 4.7px;
        background-color: rgb(243, 243, 243);
        border-radius: 50%;
        position: absolute;
        bottom: 4.7px;
        left: 3.2px;

        &::after {
            content: '';
            width: 11.1px;
            height: 11.1px;
            background-color: $light;
            border-radius: 4.7px;
            position: absolute;
            top: -41.1px;
            right: -11.2px;

            @media (min-width: $mq-xl) {
                background-color: rgb(243, 243, 243);
            }
        }
            
        &::before {
            content: '';
            width: 11.1px;
            height: 11.1px;
            background-color: $light;
            border-radius: 6px;
            position: absolute;
            top: -41.1px;
            left: -11.2px;

            @media (min-width: $mq-xl) {
                background-color: rgb(243, 243, 243);
            }
        }
    }
}



#C-cont {
    display: inline-block;
    background: darkblue;
    position: relative;
    float: left;

    .stripe {
        height: 46%;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 27%;
    }
      
    .C {
        position: relative;
        top: 8.5px;
        left: 9.5px;
        width: 67.8px;
        height: 67.8px;
        border: 33.4px solid red;
        border-radius: 50%;
        // z-index: ;
    }
      
    &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 49.7px;
        right: 3.75px;
        border-top: solid 25.9px transparent;
        border-bottom: solid 25.9px transparent;
        border-right: solid 71.6px white;
        z-index: 2;
    }
      
    .c {
        height: 72.9px;
        width: 72.9px;
        background-color: yellow;
        border-radius: 50%;
        position: relative;
        bottom: 94.8px;
        left: 39.5px;
        z-index: 3;
    }
}


